<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/images/logo.png" alt="Travlr Getaways Logo" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/list-trips">Trips</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/login" *ngIf="!isLoggedIn()"
        >Log In</a
      >
      <a class="nav-item nav-link" (click)="onLogout()" *ngIf="isLoggedIn()"
        >Log Out</a
      >
    </div>
  </div>
</nav>
